.git
node_modules
*.log*
.nuxt
.nitro
.cache
.env
.output
.vscode
dist
**/test.vue
**/*.txt
**/*.fig
*.mongodb
src/assets/images/**/*.png
!src/assets/images/icons/**/*.svg
*.md
src/tests
package-lock.json
